<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Graph service endpoint -->
    <add key="AzureADServiceHost" value="graph.windows.net"/>
    <!-- Graph API version -->
    <add key="ApiVersion" value="2013-11-08"/>
    <!-- Windows Azure AD Access Control Service endpoint -->
    <add key="StsUrl" value="https://login.windows.net/{0}/oauth2/token?api-version=1.0"/>
    <!-- Well known service principal ID for Windows Azure AD Access Control -->
    <add key="ProtectedResourcePrincipalId" value="https://graph.windows.net"/>
  </appSettings>
</configuration>
