<?xml version="1.0"?>
<configuration>
  <appSettings>
    <!-- Windows Azure AD tenant domain name -->
    <add key="TenantDomainName" value="GraphDir1.onmicrosoft.com"/>
    <!-- Service principal credentials -->
    <add key="AppPrincipalId" value="45d326ca-719c-4d17-8df0-c3ed6ed629ab"/>
    <add key="AppPrincipalPassword" value="ruwn9qnroEXEODMe6NGPY6MSsKbVUxROpe948qRMA4U="/>
    <!-- Polling interval in seconds -->
    <add key="PullIntervalSec" value="60"/>
  </appSettings>
</configuration>
